<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h3>board add</h3>

	<input type="text" id="biTitle"><br>
	<textarea id="biContent"></textarea><br>
	<input type="file" id="file" multiple><br>
	<button onclick="addBoard()">등록</button>
	<script>
		async function addBoard(){
			const inputFile = document.querySelector('#file');
			const formData = new FormData();
			const biTitle = document.querySelector('#biTitle').value;
			const biContent = document.querySelector('#biContent').value;
			formData.append('biTitle',biTitle);
			formData.append('biContent',biContent);
			if(inputFile.files.length){
				const file = inputFile.files[0];
				formData.append('file',file);
			}
			const res = await fetch('/board-infos',{
				method : 'POST',
				body : formData
			});
			const board = await res.json();
			if(board.biNum){
				location.href="/html/board/board-list";
			}
		}
	</script>
</body>

</html>