<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>자바스크립트 란?</title>
</head>
<body>
	<h3>자바스크립트 란?<h3>
	<ui>
		<li>script는  head ,body태그 안에만 가능 </li>
		<li>script태그 시작/정료</li>
	</ui>
		<h3>자바스크립트 데이터 타입</h3>
		<ul>
			<li>number</li>
			<li>boolean</li>
			<li>undefined</li>
			<li>function</li>
			<li>Object</li>
			<li>string</li>
			<li>null</li>
			
		</ul>
		<h3>자바스크립트의 변수,상수 선언</h3>
		<ul>
			<li>const</li>
			<li>let</li>
			<li>var</li>			
		</ul>
		<h3>자바스크립트 문법</h3>
		<ui>
			<li>조건문 : if,if else,switch</li>
			<li>반복문 :  while,for(일반적인 for,for of,for in), do while</li>
			</ui>
			<script>
				// false,undefined,null,0,''=>false
				function func(a){
					
				}
				func();
			</script>
		
</body>
</html>